{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "login.css" %}" />
{% endblock %}

{% block content %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
        
          <!-- Tabs Titles -->
          <h2 class="active"> User </h2>
          <h2 class="inactive underlineHover">Admin </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="pin">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Pin -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Pin?</a>
          </div>
      
        </div>
    </div>

{% endblock %}